#container {
    height: auto;
    overflow:hidden;
}

#m_player {
    position: fixed;
    top: 0;
    background-color: lightblue;
    width: 100%;
}

#playlistTitle {
    position: fixed;
    top: 280;
    width: 100%;
    background-color: white;
}

.padded {
    padding-top: 410;
}

.paddedLess {
    padding-top: 300;
}

.left {
    float: left;
}

#menu {
    background-color: burlywood;
}

#progress_bar_back {
    background-color:burlywood;
    width: 500px;
    height: 2px;
}

#progress_bar {
    background-color: deeppink;
    height: 2px;
    width: 0px;
}

#slider {
    background-color: deeppink;
    top: -2px;
    width: 8px;
    height: 8px;
}

#slider:hover, #bar_holder:hover #slider {
    transform: scale(2,2);
}

#progress_bar_back:hover, #bar_holder:hover #progress_bar_back  {
    height: 4px;
}

#progress_bar:hover, #bar_holder:hover #progress_bar {
    height: 4px;
}

#back_panel, #extra_panel {
    float: left;
}

.subtext {
    font-size: 9px;
    color: crimson;
}